.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/cedar-6850925_960_720.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  margin-top: 150px;
  height: 100%;
  color: rgb(190, 34, 34);
  padding: 5px 10px 5px;
  background: linear-gradient(to bottom, seashell, white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.title {
  margin: 50px 80px 80px;
}

.maintext {
  font-weight: 600;
  font-size: larger;
}

.formplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choosebutton {
  margin: 20px;
  padding: 10px 0 10px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: medium;
  appearance: none;
  cursor: pointer;
  text-align: center;
  width: 150px;
  border: 1px solid rgba(76, 94, 40, 0.671);
  background-color: rgba(106, 142, 35, 0.336);
  box-shadow: 2px 2px 5px rgba(44, 71, 44, 0.479);
  color: black;
}

.play,
.playagain {
  margin: 20px;
  padding: 10px 20px 10px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid rgba(76, 94, 40);
  background-color: rgba(76, 94, 40, 0.671);
  box-shadow: 2px 2px 5px rgba(44, 71, 44, 0.479);
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: medium;
}

.playagain {
  width: 250px;
}

.letsplay {
  padding-bottom: 30px;
}

.numberofplays {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
}

.scoreplays {
  padding-left: 5px;
}

.humancomputer {
  display: flex;
  width: 30vh;
  justify-content: space-around;
  padding-bottom: 50px;
}
